---
layout: default
title: HYTKD - Harjoitukset
---
<h1>Harjoitukset</h1>

<p>
    Seuran säännölliset harjoitusajat ja -paikat ovat
</p>

{% for period in site.data.trainings %}
    <h4>{{ period.dates }}</h4>
    <ul class="non-indented-list">
    {% for time in period.times %}
        <li>{{ time.time }} {{ time.location }}<li>
    {% endfor %}
    </ul>
{% endfor %}

<h3>Epidemiatilanteeseen liittyvät ohjeet</h4>

<p>
	Koronavirusepidemian aikana harjoituksissa noudatetaan seuraavia erikoisjärjestelyjä tartuntojen ehkäisemiseksi ja jäljittämiseksi:
</p>
<p><ul>
	<li>Porthanian saa olla samanaikaisesti opettajan lisäksi max 16 hlöä, Töölössä 10 hlöä.</li>
	<li>Ohjatuissa harjoituksissa min. 2 m etäisyydet mahdollisuuksien mukaan, sama suositus vapaissa treeneissä</li>
	<li>Kaikki harjoitusvälineet desinfioidaan käytön jälkeen. Seura tarjoaa puhdistusvälineet (kaapissa), vetäjä huolehtii, että näin tapahtuu</li>
	<li>Kädet pestään hyvin aina ennen ja jälkeen treenien</li>
	<li>Sairaana - edes pienessä flunssassa - ei tulla treeneihin</li>
    <li>Harjoituksiin tulee ilmoittautua seuran <a href="https://hytkd.myclub.fi/flow/events">MyClubissa</a>.
</ul>

<p><h4>Harjoituksiin ilmoittautuminen</h4></p>

<p>Kaikkiin seuran harjoituksiin ilmoittautuminen on pakollista mahdollisten tartuntaketjujen jäljittämiseksi ja harrastajamäärän rajaamiseksi rajoitusten mukaisesti. Kuhunkin harjoitukseen ilmoittaudutaan seuran <a href="https://hytkd.myclub.fi/flow/events">MyClubissa</a> omilla, henkilökohtaisilla tunnuksilla. Kunkin harjoituksen ilmoittautuminen aukeaa tasan 7 päivää ennen harjoituksen alkua. Harjoituksen vetävän opettajan <b>ei tule</b> ilmoittautua MyClubin kautta, jotta hän ei vie yhtä paikkaa.</p>

<p>Ohjeita tarkennetaan päivittyvien viranomaisohjeiden ja -suositusten mukaisesti.</p>